<html>
	<body>
		<div id="headerCliente" th:fragment="headerCliente">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="reservar">Reservar</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="consultaReserva">Ver reservas</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</body>
</html>