<html>
	<body>
		<div id="header" th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="login">Login</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="reservar">Reservar</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="listaUsuario">Usuarios</a>
			      </li>
			    </ul>
			    <ul class="navbar-nav mr-auto2">
			      <li class="nav-item">
			        <a class="nav-link" href="nuevoUsuario">Nuevo?</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</body>
</html>