@charset "ISO-8859-1";

.cabeza{
	text-align: center;
	color: #fff;
	padding:0,9%;
	font-size: x-large;
}
.navegador{
	margin: 1%;
	padding: 1%;
	background: #EA9522;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.navs{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 1%;
  text-align: center;
}

.login-page {
  width: 360px;
  padding: 1%;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding-top: 20px;
  padding: 8%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.link {
  color: #EA9522;
  text-decoration: none;
}