<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" ></link>
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>
<body class="container">

<br>
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	<br>

	<div class="form-group">
		<form action="listaReservas" class="form-group">
			<input type="submit" value="Listar Reservas">
		</form>
		<form action="listaUsuarios" class="form-group">
			<input type="submit" value="Listar Usuarios">
		</form>
		<form action="consultaUsuario" class="form-group" id="consultaUsu">
			<input type="submit" value="Mostrar Reservas por Disponibilidad">
		</form>
		<form action="nuevaHabitacion" class="form-group" id="nuevaHab">
			<input type="submit" value="Agregar Habitacion">
		</form>
		<form action="nuevoUsuario" class="form-group" id="nuevoUsu">
			<input type="submit" value="Agregar Usuario">
		</form>
		<form action="login" class="form-group" id="formCerrarSesion">
			<input type="submit" value="Cerrar Sesion">
		</form>
	</div>
	
	<div th:insert="layout/footer :: footer"></div>
	
</body>
</html>