<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" ></link>
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body class="container">
	<br>
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<div th:insert="layout/header :: header"></div>
	
	<div class="form-group">
		
		<form th:object="${fecha}" th:action="${consultaFecha}" method="post" class="form-group" id="consultaFec"> <br>
			<label for="fecha">Fecha a buscar</label>
			<input id="fecha" type="number" th:field="${fecha}" placeholder="fecha"  class="form-control">
			<div>
				<label></label><input id="enviar" type="submit" value="Buscar">
			</div>
		</form>
		
		<form action="Admin">

			<input type="submit" value="Volver">
		</form>
		
	</div>
	
	<div th:insert="layout/footer :: footer"></div>
	
</body>
</html>