<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" ></link>
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body class="container">
	<br>
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<div th:insert="layout/header :: header"></div>
	
		<form th:object="${nuevaRes}" th:action="${consultaFecha}" method="post" class="form-group" id="consultaUsu">
			<br>
			<label for="nombreHab" class="form-group col-md-12">Buscar Habitacion</label>
				<select id="nombreHab" th:field="*{habitacion}" class="form-select form-select-lg mb-3">
					<option th:each="reserva : ${reservas}" th:value="${habitacion}" th:text="${habitacion.nombreHab}"></option>
				</select>
			<div>
				<label for="enviar"></label>
				<input id="enviar" type="submit" value="Buscar">
			</div>
		</form>
		
		<form action="Admin">
			
			<input type="submit" value="Volver">
		</form>

	
	<div th:insert="layout/footer :: footer"></div>
	
</body>
</html>