<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" ></link>
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body class="container">
	<br>
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<div th:insert="layout/header :: header"></div>
	<br>
	<table class="table">
		    <tr>
		      <th scope="col">Id de Reserva</th>
		      <th scope="col">Habitacion</th>
		      <th scope="col">Desayuno</th>
		    </tr>
		    <tr th:each="reserva : ${reservas}">
		      <td th:text="${reserva.idReserva}"></td>
		      <td th:text="${reserva.habitacion.nombreHab}"></td>
		      <td th:text="${reserva.desayuno}"></td>
		    </tr>
		</table>
		
		<form action="Admin" class="form-group">
				<input type="submit" value="Volver">
		</form>
		
		<div th:insert="layout/footer :: footer"></div>
		
</body>
</html>