<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" ></link>
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body class="container">
	<br>
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<div th:insert="layout/header :: header"></div>
	<br>
	<form id="nuevaHab" th:object="${nuevaHab}" th:action="${nuevaHabitacion}" method="post">
		<div class="form-row">
		    <div class="form-group col-md-6">
		    <label for="nombreHab">Nombre de la Habitacion</label>
		    <input type="text" class="form-control" id="nombreHab" th:field="*{nombreHab}">
		    </div>
			<div class="form-group col-md-6">
		    <label for="numeroHab">Numero de la Habitacion</label>
		    <input type="number" class="form-control" id="numeroHab" th:field="*{numeroHab}">
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-12">
		    <label for="detalles">Detalles</label>
		    <input type="text" class="form-control" id="detallesHab" th:field="*{detallesHab}">
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-4">
		    	<label for="costo">Costo $</label>
		    	<input type="number" class="form-control" id="costo" th:field="*{costo}">
		    </div>
		    <div class="form-group col-md-4">
		    	<label for="disponibilidad">Disponibilidad</label>
		    	<input type="text" class="form-control" id="disponibilidad" placeholder="Si/No" th:field="*{disponibilidad}">
		    </div>
			<div class="form-group col-md-4">
		    	<label for="tipoHab">Tipo</label>
		    	<input type="text" class="form-control" id="tipoHab" placeholder="Simple/Doble" th:field="*{tipoHab}">
		    </div>
		</div>
		
		<div>
			<button type="submit" value="Agregar">Agregar</button>
		</div>
		
	</form>
	
	<form action="Admin">
		<input type="submit" value="Volver">
	</form>

	<div th:insert="layout/footer :: footer"></div>
	
</body>
</html>