<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" ></link>
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body class="container">
	<br>
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<div th:insert="layout/headerCliente :: headerCliente"></div>
	
	<p th:text="'Bienvenido, ' + ${nombre} + '(' + ${idUsuario} + ')'"></p>
	
	<br>
		<h3>Lista de Habitaciones</h3><br>
			<div>
				<table class="table">
				    <tr>
				      <th scope="col">Numero de Habitacion</th>
				      <th scope="col">Nombre de Habitacion</th>
				      <th scope="col">Detalles</th>
				      <th scope="col">Disponibilidad</th>
				      <th scope="col">Costo</th>
				      <th scope="col">Tipo</th>
				    </tr>
					<tr th:each="habitacion : ${habitaciones}">
						<td th:text="${habitacion.idHab}"></td>
						<td th:text="${habitacion.nombreHab}"></td>
						<td th:text="${habitacion.detallesHab}"></td>
						<td th:text="${habitacion.disponibilidad}"></td>
						<td th:text="${habitacion.costo}"></td>
						<td th:text="${habitacion.tipoHab}"></td>
					</tr>
				</table>
			</div>
				<br>
				<form id="nuevaReserva" th:object="${nuevaReser}" th:action="${reservar}" method="post">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="desayuno">Desayuno</label>
							<input type="text" id="desayuno" class="form-control" placeholder="Si/No" th:field="*{desayuno}"></input>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label>Habitacion</label> <br> 
						<select th:field="*{habitacion.idHab}" class="form-select form-select-lg mb-3">
							<option th:each="habitacion : ${habitaciones}" th:value="${habitacion.idHab}" th:text="${habitacion.nombreHab}"></option>
						</select>
					</div>
						<div>
							<button type="submit" value="Guardar">Reservar</button>					
						</div>
				</form>

			
			<form action="Cliente">
				<input type="submit" value="Volver">
			</form>
						
	<div th:insert="layout/footer :: footer"></div>
	
</body>
</html>