<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
<link th:ref="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" ></link>
<meta charset="ISO-8859-1">
<title>Hotel Dovago</title>
</head>

<body class="container">
	<br>
	<header>
		<div class="cabeza">
    		<h1>Hotel Dovago</h1>
  		</div>
	</header>
	
	<div th:insert="layout/headerCliente :: headerCliente"></div>
	<br>
		<h3>Lista de Habitaciones</h3><br>
			<div>
				<table class="table">
				    <tr>
				      <th scope="col">Id de Habitacion</th>
				      <th scope="col">Nombre de Habitacion</th>
				      <th scope="col">Detalles</th>
				      <th scope="col">Disponibilidad</th>
				      <th scope="col">Precio</th>
				    </tr>
					<tr th:each="reserva : ${reservas}">
						<td th:text="${reserva.idHab}"></td>
						<td th:text="${reserva.nombreHab}"></td>
						<td th:text="${reserva.detalles}"></td>
						<td th:text="${reserva.disponibilidad}"></td>
						<td th:text="${reserva.precio}"></td>
					</tr>
					<tr th:each="reserva : ${reservas}">
						<td th:text="${reserva.idHab}"></td>
						<td th:text="${reserva.nombreHab}"></td>
						<td th:text="${reserva.detalles}"></td>
						<td th:text="${reserva.disponibilidad}"></td>
						<td th:text="${reserva.precio}"></td>
					</tr>
					<tr th:each="reserva : ${reservas}">
						<td th:text="${reserva.idHab}"></td>
						<td th:text="${reserva.nombreHab}"></td>
						<td th:text="${reserva.detalles}"></td>
						<td th:text="${reserva.disponibilidad}"></td>
						<td th:text="${reserva.precio}"></td>
					</tr>
					<tr th:each="reserva : ${reservas}">
						<td th:text="${reserva.idHab}"></td>
						<td th:text="${reserva.nombreHab}"></td>
						<td th:text="${reserva.detalles}"></td>
						<td th:text="${reserva.disponibilidad}"></td>
						<td th:text="${reserva.precio}"></td>
					</tr>
				</table>
				<br>
				
				<form id="nuevaReserva" th:object="${nuevaReser}" th:action="${reservar}" method="post">
					<div class="form-row">
			    		<div class="form-group col-md-4">
			    			<div class="form-group" >
								<label for="idHab">Id de habitacion a elegir</label>
								<input type="number" class="form-control" id="idHab" th:field="*{idHab}"></input>
							</div>
							<div class="form-group">
								<label for="desayuno">Desayuno</label>
								<input type="text" class="form-control" id="desayuno" placeholder="Si o No" th:field="*{desayuno}"></input>
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="fecha">Fecha</label><br>
							<input type="date" name="fecha" id="fecha" th:field="*{fecha}">
						</div>
					</div>
				</form>
				<br><br><br>
			</div>
			
			<form action="Cliente">
			<button type="submit" value="Reservar"></button>
			<input type="submit" value="Volver">
		</form>
						
	<div th:insert="layout/footer :: footer"></div>
	
</body>
</html>